#TB_ajaxContent div.buddydrive-uploader-status {
	clear: both;
	margin: 1em 0;
}

#TB_ajaxContent div.buddydrive-uploader-status p.updated {
	display: block;
	padding: 10px 15px;
}

#TB_ajaxContent div.buddydrive-uploader-status p.success {
	background-color: #efc;
	border: 1px solid #591;
	color: #250;
}

#TB_ajaxContent div.buddydrive-uploader-status p.error {
	background-color: #fdc;
	border: 1px solid #a00;
	color: #800;
}

#TB_ajaxContent div.buddydrive-uploader-status .bp-progress {
	background: none;
	border: 1px solid #d1d1d1;
	float: right;
	height: 34px;
	margin: 6px 10px 0 0;
	margin-bottom: 2px;
	padding: 0;
	overflow: hidden;
	width: 200px;
}

#TB_ajaxContent div.buddydrive-uploader-status .bp-bar {
	background-color: #c3ff88;
	width: 0;
	height: 100%;
	z-index: 9;
}

#TB_ajaxContent .bp-uploader-progress div.error {
	background-color: #fdc;
	border: 1px solid #a00;
	color: #800;
	display: block;
	font-size: 90%;
	padding: 10px 15px;
}

#TB_ajaxContent #bp-uploader-warning {
	background-color: #ffd;
	border: 1px solid #cb2;
	color: #440;
	display: block;
	font-size: 90%;
	margin: 1em 0;
	padding: 10px 15px;
}

#TB_ajaxContent #drag-drop-area {
	border: 4px dashed #bbb;
	height: 200px;
}

#TB_ajaxContent .drag-drop.drag-over #drag-drop-area {
	border-color: #83b4d8;
}

#TB_ajaxContent .drag-drop-inside p {
	display: none;
}

#TB_ajaxContent .drag-drop-inside p.drag-drop-buttons {
	margin-top: 80px;
	text-align: center;
}

#TB_ajaxContent .drag-drop .drag-drop-inside p.drag-drop-buttons {
	margin: auto;
	text-align: auto;
}

#TB_ajaxContent .drag-drop #drag-drop-area {
	display: table;
	height: 100%;
	width: 100%;
}

#TB_ajaxContent .drag-drop .drag-drop-inside {
	display: table-cell;
	padding: 40px 0;
	text-align: center;
	vertical-align: middle;
}

#TB_ajaxContent .drag-drop .drag-drop-inside p,
#TB_ajaxContent .drag-drop-inside p.drag-drop-buttons {
	display: block;
}

#TB_ajaxContent .drag-drop .drag-drop-inside p {
	color: #aaa;
	font-size: 110%;
	margin: 5px 0;
	text-align: center;
}

#TB_ajaxContent .drag-drop-inside p.drag-drop-info {margin-top: 0;}

#TB_ajaxContent {
	margin:1em 0;
}

#TB_ajaxContent .bp-uploader-progress {
	overflow: hidden;
	clear:both;
}

#TB_ajaxContent .bp-uploader-progress .filename {
	height: 34px;
	line-height: 34px;
	font-weight: bold;
	margin-top: 6px;
	float: left;
	font-size: 80%;
	max-width: 350px;
}

#TB_ajaxContent .bp-uploader-progress .filename img {
	vertical-align: middle;
	height:34px;
}

#TB_ajaxContent .bp-uploader-progress .bp-progress.bd-success {
	border: none;
}

#TB_ajaxContent .bp-uploader-progress a.bd-insert {
	padding:2px;
	display: block;
	background: #fff;
	border: 1px solid #ccc;
	color: #777;
	font-size: small;
	cursor: pointer;
	outline: none;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}

#TB_ajaxContent .bp-uploader-progress a.bd-insert:hover {
	background: #ededed;
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}

#buddydrive-btn {
	display:inline-block;
	margin:1em 0;
	padding:2px;
}

#buddydrive-btn:before {
	font-family: dashicons;
	font-size:18px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f317";
	vertical-align:top;
}

body.activity.directory #buddypress #buddydrive-btn,
body.single-item.groups #buddypress #buddydrive-btn,
body.activity.bp-user #buddypress #buddydrive-btn {
	float: right;
	display:inline;
	margin:0;
}

body.activity.directory #buddypress #buddydrive-btn:before {
	vertical-align:top;
}
